html,
body {
    --color-1: #a8e6cf;
    --color-2: #dcedc1;
    --color-3: #c2ffb6;
    --color-4: #ce401c49;
    --color-5: hsla(212, 75%, 35%, 0.63);
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
    background-image: url("images/Bckgrd.jpg");
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
    position: relative;
}

.container {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #d85b21;
    box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.75);
    padding: 50px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, red, rgb(21, 255, 0));
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--color-3);
    margin: 0 auto;
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;
}

button {
    color: rgba(14, 12, 12, 0.452);
    padding: 15px 15px;
    font-size: 20px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

button#rollBtn {
    color: rgba(14, 12, 12, 0.452);
}

#resetBtn {
    background-color: var(--color-4);
    color: rgba(14, 12, 12, 0.452);
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: 2.5px 2.5px red;
}

#dice-1 {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 90px;
    width: 90px;
    background-color: #81b331;
    margin: 0 auto;
    box-shadow: 0px 10px 60px rgb(208, 255, 0);
    display: none;
}